@model DOLPHIN.Model.ToTrinh
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-left:20px ; margin-top:20px">Bạn có chắc chắn muốn xóa @Model.TenToTrinh?</h3>
<div class="card">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Xóa" class="btn btn-danger" style="margin-left:20px" />
        <a href="/ToTrinh/Index" class="btn btn-primary" style="margin-left:20px">Quay lại</a>
    }
</div>

